.collections{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 50px;
}


@media(max-width:900px){
    .collections {
   
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }
    

}